html,
body {
  padding: 0;
  margin: 0;
  color: #083592;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

#objective-form {
  width: 100%;
  margin-bottom: 40px;
}

#objective-form label {
  display: inline-block;
  width: 100%;
  font-weight: 500;
  margin-bottom: 10px;
}

#objective-form textarea {
  width: 100%;
  margin-bottom: 10px;
  border-color: #B2BEDF;
  border-radius: 4px;
}

#submit {
  border: none;
  background-color: #083592;
  border-radius: 10px;
  color: #EAEEF6;
  padding: 8px 16px;
  font-weight: bold;
}

#submit:not(:disabled) {
  cursor: pointer;
}

#submit:not(:disabled):hover {
  background-color: #072A72;
}

#submit:disabled {
  opacity: 0.8;
}

#error {
  display: inline-block;
  margin: 1rem 0;
  font-size: 14px;
}

.hidden {
  display: none !important;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

/* Additional styles for specific elements */
#app {
  padding: 20px;
}

#header {
  padding: 2px 10px;
  background-color: #e8eaf0;
  border-bottom: 2px solid #b2bedf;
}
