html, body {
  padding: 0;
  margin: 0;
  color: #083592;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

#app {
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#objective-form {
  width: 100%;
  margin-bottom: 20px;
}

#objective-form label {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
}

#objective-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#submit {
  border: none;
  background-color: #083592;
  border-radius: 10px;
  color: #EAEEF6;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

#submit:hover {
  background-color: #072A72;
}

#submit:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.error {
  display: block;
  margin: 1rem 0;
  font-size: 14px;
  color: #FF0000;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #083592;
}

input:focus + .slider {
  box-shadow: 0 0 1px #083592;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
